<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ca102g1.springboot.mapper.SpecialForuMapper">
  <resultMap id="BaseResultMap" type="com.ca102g1.springboot.model.SpecialForu">
    <id column="MEM_NO" jdbcType="VARCHAR" property="memNo" />
    <result column="CLOTH_CNTS" jdbcType="NUMERIC" property="clothCnts" />
    <result column="FOOD_CNTS" jdbcType="NUMERIC" property="foodCnts" />
    <result column="GAME_CNTS" jdbcType="NUMERIC" property="gameCnts" />
    <result column="OUTDOOR_CNTS" jdbcType="NUMERIC" property="outdoorCnts" />
    <result column="HOMEELEC_CNTS" jdbcType="NUMERIC" property="homeelecCnts" />
    <result column="THREEC_CNTS" jdbcType="NUMERIC" property="threecCnts" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MEM_NO, CLOTH_CNTS, FOOD_CNTS, GAME_CNTS, OUTDOOR_CNTS, HOMEELEC_CNTS, THREEC_CNTS
  </sql>
  <select id="selectByExample" parameterType="com.ca102g1.springboot.model.SpecialForuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SPECIAL_FORU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SPECIAL_FORU
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SPECIAL_FORU
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ca102g1.springboot.model.SpecialForuExample">
    delete from SPECIAL_FORU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ca102g1.springboot.model.SpecialForu">
    insert into SPECIAL_FORU (MEM_NO, CLOTH_CNTS, FOOD_CNTS, 
      GAME_CNTS, OUTDOOR_CNTS, HOMEELEC_CNTS, 
      THREEC_CNTS)
    values (#{memNo,jdbcType=VARCHAR}, #{clothCnts,jdbcType=NUMERIC}, #{foodCnts,jdbcType=NUMERIC}, 
      #{gameCnts,jdbcType=NUMERIC}, #{outdoorCnts,jdbcType=NUMERIC}, #{homeelecCnts,jdbcType=NUMERIC}, 
      #{threecCnts,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.ca102g1.springboot.model.SpecialForu">
    insert into SPECIAL_FORU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memNo != null">
        MEM_NO,
      </if>
      <if test="clothCnts != null">
        CLOTH_CNTS,
      </if>
      <if test="foodCnts != null">
        FOOD_CNTS,
      </if>
      <if test="gameCnts != null">
        GAME_CNTS,
      </if>
      <if test="outdoorCnts != null">
        OUTDOOR_CNTS,
      </if>
      <if test="homeelecCnts != null">
        HOMEELEC_CNTS,
      </if>
      <if test="threecCnts != null">
        THREEC_CNTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memNo != null">
        #{memNo,jdbcType=VARCHAR},
      </if>
      <if test="clothCnts != null">
        #{clothCnts,jdbcType=NUMERIC},
      </if>
      <if test="foodCnts != null">
        #{foodCnts,jdbcType=NUMERIC},
      </if>
      <if test="gameCnts != null">
        #{gameCnts,jdbcType=NUMERIC},
      </if>
      <if test="outdoorCnts != null">
        #{outdoorCnts,jdbcType=NUMERIC},
      </if>
      <if test="homeelecCnts != null">
        #{homeelecCnts,jdbcType=NUMERIC},
      </if>
      <if test="threecCnts != null">
        #{threecCnts,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ca102g1.springboot.model.SpecialForuExample" resultType="java.lang.Integer">
    select count(*) from SPECIAL_FORU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SPECIAL_FORU
    <set>
      <if test="record.memNo != null">
        MEM_NO = #{record.memNo,jdbcType=VARCHAR},
      </if>
      <if test="record.clothCnts != null">
        CLOTH_CNTS = #{record.clothCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.foodCnts != null">
        FOOD_CNTS = #{record.foodCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.gameCnts != null">
        GAME_CNTS = #{record.gameCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.outdoorCnts != null">
        OUTDOOR_CNTS = #{record.outdoorCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.homeelecCnts != null">
        HOMEELEC_CNTS = #{record.homeelecCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.threecCnts != null">
        THREEC_CNTS = #{record.threecCnts,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SPECIAL_FORU
    set MEM_NO = #{record.memNo,jdbcType=VARCHAR},
      CLOTH_CNTS = #{record.clothCnts,jdbcType=NUMERIC},
      FOOD_CNTS = #{record.foodCnts,jdbcType=NUMERIC},
      GAME_CNTS = #{record.gameCnts,jdbcType=NUMERIC},
      OUTDOOR_CNTS = #{record.outdoorCnts,jdbcType=NUMERIC},
      HOMEELEC_CNTS = #{record.homeelecCnts,jdbcType=NUMERIC},
      THREEC_CNTS = #{record.threecCnts,jdbcType=NUMERIC}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ca102g1.springboot.model.SpecialForu">
    update SPECIAL_FORU
    <set>
      <if test="clothCnts != null">
        CLOTH_CNTS = #{clothCnts,jdbcType=NUMERIC},
      </if>
      <if test="foodCnts != null">
        FOOD_CNTS = #{foodCnts,jdbcType=NUMERIC},
      </if>
      <if test="gameCnts != null">
        GAME_CNTS = #{gameCnts,jdbcType=NUMERIC},
      </if>
      <if test="outdoorCnts != null">
        OUTDOOR_CNTS = #{outdoorCnts,jdbcType=NUMERIC},
      </if>
      <if test="homeelecCnts != null">
        HOMEELEC_CNTS = #{homeelecCnts,jdbcType=NUMERIC},
      </if>
      <if test="threecCnts != null">
        THREEC_CNTS = #{threecCnts,jdbcType=NUMERIC},
      </if>
    </set>
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ca102g1.springboot.model.SpecialForu">
    update SPECIAL_FORU
    set CLOTH_CNTS = #{clothCnts,jdbcType=NUMERIC},
      FOOD_CNTS = #{foodCnts,jdbcType=NUMERIC},
      GAME_CNTS = #{gameCnts,jdbcType=NUMERIC},
      OUTDOOR_CNTS = #{outdoorCnts,jdbcType=NUMERIC},
      HOMEELEC_CNTS = #{homeelecCnts,jdbcType=NUMERIC},
      THREEC_CNTS = #{threecCnts,jdbcType=NUMERIC}
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.ca102g1.springboot.model.SpecialForu">
    <id column="MEM_NO" jdbcType="VARCHAR" property="memNo" />
    <result column="CLOTH_CNTS" jdbcType="NUMERIC" property="clothCnts" />
    <result column="FOOD_CNTS" jdbcType="NUMERIC" property="foodCnts" />
    <result column="GAME_CNTS" jdbcType="NUMERIC" property="gameCnts" />
    <result column="OUTDOOR_CNTS" jdbcType="NUMERIC" property="outdoorCnts" />
    <result column="HOMEELEC_CNTS" jdbcType="NUMERIC" property="homeelecCnts" />
    <result column="THREEC_CNTS" jdbcType="NUMERIC" property="threecCnts" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    MEM_NO, CLOTH_CNTS, FOOD_CNTS, GAME_CNTS, OUTDOOR_CNTS, HOMEELEC_CNTS, THREEC_CNTS
  </sql>
  <select id="selectByExample" parameterType="com.ca102g1.springboot.model.SpecialForuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from SPECIAL_FORU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from SPECIAL_FORU
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from SPECIAL_FORU
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ca102g1.springboot.model.SpecialForuExample">
    delete from SPECIAL_FORU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ca102g1.springboot.model.SpecialForu">
    insert into SPECIAL_FORU (MEM_NO, CLOTH_CNTS, FOOD_CNTS, 
      GAME_CNTS, OUTDOOR_CNTS, HOMEELEC_CNTS, 
      THREEC_CNTS)
    values (#{memNo,jdbcType=VARCHAR}, #{clothCnts,jdbcType=NUMERIC}, #{foodCnts,jdbcType=NUMERIC}, 
      #{gameCnts,jdbcType=NUMERIC}, #{outdoorCnts,jdbcType=NUMERIC}, #{homeelecCnts,jdbcType=NUMERIC}, 
      #{threecCnts,jdbcType=NUMERIC})
  </insert>
  <insert id="insertSelective" parameterType="com.ca102g1.springboot.model.SpecialForu">
    insert into SPECIAL_FORU
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="memNo != null">
        MEM_NO,
      </if>
      <if test="clothCnts != null">
        CLOTH_CNTS,
      </if>
      <if test="foodCnts != null">
        FOOD_CNTS,
      </if>
      <if test="gameCnts != null">
        GAME_CNTS,
      </if>
      <if test="outdoorCnts != null">
        OUTDOOR_CNTS,
      </if>
      <if test="homeelecCnts != null">
        HOMEELEC_CNTS,
      </if>
      <if test="threecCnts != null">
        THREEC_CNTS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="memNo != null">
        #{memNo,jdbcType=VARCHAR},
      </if>
      <if test="clothCnts != null">
        #{clothCnts,jdbcType=NUMERIC},
      </if>
      <if test="foodCnts != null">
        #{foodCnts,jdbcType=NUMERIC},
      </if>
      <if test="gameCnts != null">
        #{gameCnts,jdbcType=NUMERIC},
      </if>
      <if test="outdoorCnts != null">
        #{outdoorCnts,jdbcType=NUMERIC},
      </if>
      <if test="homeelecCnts != null">
        #{homeelecCnts,jdbcType=NUMERIC},
      </if>
      <if test="threecCnts != null">
        #{threecCnts,jdbcType=NUMERIC},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ca102g1.springboot.model.SpecialForuExample" resultType="java.lang.Integer">
    select count(*) from SPECIAL_FORU
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update SPECIAL_FORU
    <set>
      <if test="record.memNo != null">
        MEM_NO = #{record.memNo,jdbcType=VARCHAR},
      </if>
      <if test="record.clothCnts != null">
        CLOTH_CNTS = #{record.clothCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.foodCnts != null">
        FOOD_CNTS = #{record.foodCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.gameCnts != null">
        GAME_CNTS = #{record.gameCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.outdoorCnts != null">
        OUTDOOR_CNTS = #{record.outdoorCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.homeelecCnts != null">
        HOMEELEC_CNTS = #{record.homeelecCnts,jdbcType=NUMERIC},
      </if>
      <if test="record.threecCnts != null">
        THREEC_CNTS = #{record.threecCnts,jdbcType=NUMERIC},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update SPECIAL_FORU
    set MEM_NO = #{record.memNo,jdbcType=VARCHAR},
      CLOTH_CNTS = #{record.clothCnts,jdbcType=NUMERIC},
      FOOD_CNTS = #{record.foodCnts,jdbcType=NUMERIC},
      GAME_CNTS = #{record.gameCnts,jdbcType=NUMERIC},
      OUTDOOR_CNTS = #{record.outdoorCnts,jdbcType=NUMERIC},
      HOMEELEC_CNTS = #{record.homeelecCnts,jdbcType=NUMERIC},
      THREEC_CNTS = #{record.threecCnts,jdbcType=NUMERIC}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ca102g1.springboot.model.SpecialForu">
    update SPECIAL_FORU
    <set>
      <if test="clothCnts != null">
        CLOTH_CNTS = #{clothCnts,jdbcType=NUMERIC},
      </if>
      <if test="foodCnts != null">
        FOOD_CNTS = #{foodCnts,jdbcType=NUMERIC},
      </if>
      <if test="gameCnts != null">
        GAME_CNTS = #{gameCnts,jdbcType=NUMERIC},
      </if>
      <if test="outdoorCnts != null">
        OUTDOOR_CNTS = #{outdoorCnts,jdbcType=NUMERIC},
      </if>
      <if test="homeelecCnts != null">
        HOMEELEC_CNTS = #{homeelecCnts,jdbcType=NUMERIC},
      </if>
      <if test="threecCnts != null">
        THREEC_CNTS = #{threecCnts,jdbcType=NUMERIC},
      </if>
    </set>
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ca102g1.springboot.model.SpecialForu">
    update SPECIAL_FORU
    set CLOTH_CNTS = #{clothCnts,jdbcType=NUMERIC},
      FOOD_CNTS = #{foodCnts,jdbcType=NUMERIC},
      GAME_CNTS = #{gameCnts,jdbcType=NUMERIC},
      OUTDOOR_CNTS = #{outdoorCnts,jdbcType=NUMERIC},
      HOMEELEC_CNTS = #{homeelecCnts,jdbcType=NUMERIC},
      THREEC_CNTS = #{threecCnts,jdbcType=NUMERIC}
    where MEM_NO = #{memNo,jdbcType=VARCHAR}
  </update>
</mapper>